name: Deploy Application

on:
  push:
    branches:
      - main
      - uat

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'uat' }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Determine Environment and Tags
      id: vars
      run: |
        if [ "${{ github.ref }}" = "refs/heads/main" ]; then
          echo "env_file=.env.prod" >> $GITHUB_OUTPUT
          echo "fe_tag=latest" >> $GITHUB_OUTPUT
          echo "be_tag=latest" >> $GITHUB_OUTPUT
        else
          echo "env_file=.env.uat" >> $GITHUB_OUTPUT
          echo "fe_tag=uat-v1" >> $GITHUB_OUTPUT
          echo "be_tag=uat-v1" >> $GITHUB_OUTPUT
        fi

    - name: Build and Push Frontend Image
      uses: docker/build-push-action@v4
      with:
        context: ./packages/frontend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vtgtool-fe:${{ steps.vars.outputs.fe_tag }}

    - name: Build and Push Backend Image
      uses: docker/build-push-action@v4
      with:
        context: ./packages/backend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vtgtool-be:${{ steps.vars.outputs.be_tag }}

    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.DO_HOST }}
        username: ${{ secrets.DO_USERNAME }}
        key: ${{ secrets.DO_SSH_KEY }}
        script: |
          cd /root/vtgtool
          echo "${{ secrets.ENV_FILE }}" > ${{ steps.vars.outputs.env_file }}
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vtgtool-fe:${{ steps.vars.outputs.fe_tag }}
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vtgtool-be:${{ steps.vars.outputs.be_tag }}
          docker compose --env-file ${{ steps.vars.outputs.env_file }} -f infra/docker-compose.yml up -d --no-deps
          docker image prune -f